* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  font-size: 64px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  height: 0.78125rem;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}

.header .tap-pre {
  flex: 20%;
  position: relative;
  top: 0.265625rem;
  left: 0.296875rem;
  height: 0.3125rem;
  width: 0.34375rem;
  background: url("img/personal-bico1.png") no-repeat;
  background-size: 0.1875rem 0.265625rem;
}

.header span {
  text-align: center;
  flex: 60%;
  font-size: 18px;
  align-self: center;
}

.header .tap-menu {
  flex: 20%;
  position: relative;
  top: 0.234375rem;
  left: 0.34375rem;
  height: 0.3125rem;
  width: 0.3125rem;
  background: url("img/imgtk-new.png") no-repeat;
  background-size: 0.3125rem;
}

.onsale-menu {
  height: 1.140625rem;
  padding-top: 0.15625rem;
  display: none;
}

.onsale-menu ul {
  display: flex;
}

.onsale-menu ul li {
  height: 0.8125rem;
  flex: 1;
}

.onsale-menu ul li a {
  text-align: center;
}

.onsale-menu ul li a span {
  display: block;
  height: 0.46875rem;
}

.onsale-menu ul li a p {
  font-size: 14px;
  color: #666;
}

.onsale-menu ul .onsale-home a span {
  background: url("img/head_icon1.png") 50% 0 no-repeat;
  background-size: auto 100%;
}

.onsale-menu ul .onsale-classify a span {
  background: url("img/head_icon2.png") 50% 0 no-repeat;
  background-size: auto 100%;
}

.onsale-menu ul .onsale-buycar a span {
  background: url("img/head_icon4.png") 50% 0 no-repeat;
  background-size: auto 100%;
}

.onsale-menu ul .onsale-epet a span {
  background: url("img/head_icon5.png") 50% 0 no-repeat;
  background-size: auto 100%;
}

.main {
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fafafa;
  -webkit-overflow-scrolling: touch;
}

.main .box {
  width: 100%;
}

.main .box .sel-title {
  background-color: #ffe6d9;
  height: 0.703125rem;
  width: 100%;
  line-height: 0.703125rem;
  padding-left: 0.15625rem;
}

.main .box .sel-title p {
  font-size: 14px;
}

.main .box .sel-area {
  background-color: #FFFFFF;
  height: 0.625rem;
  width: 100%;
  line-height: 0.625rem;
  padding-left: 0.15625rem;
  border-top: 1px solid #f1f1f1;
}

.main .box .sel-area a {
  color: #666;
}

.main .box .sel-area a p {
  font-size: 14px;
}
