@charset "UTF-8";
.clickTitle {
  border-bottom: 2px solid #f60;
  color: #f60;
}

.box_shadow {
  box-shadow: 0 10px 15px rgba(175, 175, 175, 0.75);
}

ul, li {
  list-style: none;
}

.top {
  text-align: center;
}

.top span {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding: 0px 10px;
}

.main_l {
  display: flex;
}

.main_l ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main_l > ul {
  flex: 0.25;
  overflow-x: hidden;
  overflow-y: auto;
}

.main_l > ul li {
  line-height: 50px;
  text-align: center;
}

.main_l > ul li span {
  display: inline-block;
  line-height: 50px;
  height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.main_l .showInfo {
  flex: 0.75;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 15px;
}

.main_l .showInfo img {
  width: 66.66px;
  height: 66.66px;
  margin: 0 auto;
}

.main_l .showInfo ul {
  display: flex;
  flex-wrap: wrap;
}

.main_l .showInfo ul li {
  width: 80px;
  text-align: center;
  padding: 10px 0;
}

.main_l .showInfo ul li span p:nth-child(2) {
  color: #ccc;
}

.main_l .showInfo::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main_r {
  overflow-x: hidden;
  overflow-y: auto;
}

.main_r ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.main_r ul li {
  width: 106px;
  text-align: center;
  padding: 10px 0;
}

.main_r ul li img {
  height: 40px;
  margin: 0 auto;
}

/*----过度界面-----*/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 40px;
}

body, html {
  width: 100%;
  height: 100%;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: 100% 100%;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99;
}

.loading p {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  color: #222;
  font-size: 0.8rem;
}

.loading .process {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 90%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
}

.loading .process .cs {
  background: #899;
  width: 0%;
  height: 100%;
}
