* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

body {
  font-size: 0.07rem;
  width: 100%;
  height: 100%;
  background: #F5F5F5;
  overflow-x: hidden;
}

div {
  line-height: 1.5;
}

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

header .header_top {
  width: 100%;
  padding: 0.05rem 0;
  text-align: center;
  background: #EEEEEE;
  border-bottom: 0.005rem solid #ccc;
}

header .header_top .header_left {
  font-size: 0.3rem;
  color: #999;
}

header .header_top .header_id {
  margin: 0 0.75rem;
  font-size: 0.15rem;
}

header .header_top .history, header .header_top .nav_btn {
  font-size: 0.2rem;
  color: #999;
}

header .header_top .nav_btn {
  margin-left: 0.1rem;
}

header .herderHide {
  background: #EEEEEE;
  padding: 0.025rem 0;
  display: flex;
  justify-content: space-around;
}

header .herderHide a {
  display: 1;
  text-align: center;
  color: #999;
}

header .herderHide a i {
  font-size: 0.25rem;
}

header .herderHide a p {
  font-size: 0.12rem;
}

header .herderHide .carCount {
  display: block;
  position: relative;
}

header .herderHide .carCount span {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  line-height: 0.15rem;
  background-color: red;
  color: #fff;
  font-size: 0.1rem;
  opacity: 0.7;
}

main {
  width: 100%;
  padding: 0.4rem 0 0.4rem 0;
}

main .good_detail {
  position: relative;
  background: #fff;
}

main .good_detail .flag {
  display: block;
  width: 0.25rem;
  height: 0.15rem;
  position: absolute;
  margin: 0.2rem 0 0 0.1rem;
  z-index: 2;
}

main .good_detail #imgH {
  height: 3.2rem;
}

main .good_detail .good_kg p {
  font-size: 0.12rem;
  padding: 0 0.05rem;
}

main .good_detail .good_referral p {
  font-size: 0.12rem;
  color: #E75656;
  padding: 0 0.05rem;
}

main .good_detail .good_price {
  padding: 0.025rem 0.05rem;
}

main .good_detail .good_price .price_left {
  float: left;
}

main .good_detail .good_price .price_left .discount {
  font-size: 0.14rem;
  color: #E75656;
}

main .good_detail .good_price .price_left del {
  font-size: 0.12rem;
  margin: 0.025rem 0 0 0.05rem;
}

main .good_detail .good_price .price_right {
  float: right;
}

main .good_detail .good_price .price_right span.fa {
  font-size: 0.145rem;
  vertical-align: middle;
  margin: 0.025rem 0.025rem 0 0;
}

main .good_detail .good_price .price_right a {
  font-size: 0.12rem;
  color: #999999;
}

main .combo {
  width: 100%;
  background: #fff;
  margin-top: 0.1rem;
  padding: 0.1rem 0.05rem;
}

main .combo .combo_left {
  float: left;
}

main .combo .combo_left i.fa {
  font-size: 0.14rem;
  margin: 0.02rem 0.025rem 0 0;
}

main .combo .combo_left a {
  font-size: 0.14rem;
  color: #333333;
}

main .combo .combo_right {
  float: right;
}

main .combo .combo_right a {
  font-size: 0.14rem;
  color: #999999;
}

main .combo .combo_right a i {
  font-size: 0.25rem;
  color: #999999;
  vertical-align: middle;
  margin-left: 0.1rem;
}

main .kg {
  width: 100%;
  background: #fff;
  margin-top: 0.1rem;
}

main .kg .selected {
  padding: 0.1rem 0.05rem;
  border-bottom: 0.005rem solid #ccc;
}

main .kg .selected p {
  font-size: 0.14rem;
  margin-left: 0.05rem;
}

main .kg .selected p span {
  font-size: 0.14rem;
  color: #F03E3E;
}

main .kg .elect_KG {
  padding: 0.05rem 0;
}

main .kg .elect_KG p {
  color: #999999;
  font-size: 0.14rem;
  margin-left: 0.05rem;
  line-height: 0.26rem;
}

main .kg .elect_KG p a {
  display: inline-block;
  padding: 0.05rem 0.1rem;
  border: 0.005rem solid #ccc;
  border-radius: 0.03rem;
  text-align: center;
  line-height: 0.125rem;
  color: #000;
}

main .kg .elect_KG p a:nth-child(1) {
  margin-left: 0.35rem;
}

main .kg .elect_KG p a.changeCss {
  background: red;
  color: #fff;
}

main .buy_count {
  width: 100%;
  background: #fff;
  margin-top: 0.1rem;
  padding: 0.1rem 0.05rem;
}

main .buy_count p {
  float: left;
  width: 0.6rem;
  font-size: 0.14rem;
}

main .buy_count .emendation {
  float: left;
  margin-left: 0.15rem;
}

main .buy_count .emendation .add, main .buy_count .emendation .minus {
  display: block;
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  border: 1px solid #ccc;
  text-align: center;
}

main .buy_count .emendation input {
  float: left;
  width: 0.4rem;
  height: 0.2rem;
  text-align: center;
  border: 1px solid #ccc;
}

main .region {
  width: 100%;
  margin-top: 0.1rem;
  background: #fff;
  padding: 0.1rem 0.05rem;
}

main .region a {
  font-size: 0.14rem;
  color: #333333;
}

main .region a i {
  font-size: 0.14rem;
  margin: 0 0.015rem;
}

main .comment {
  width: 100%;
  background: #fff;
  padding: 0.1rem 0 0.1rem 0.05rem;
  margin-top: 0.1rem;
}

main .comment .comment_top .comment_left {
  float: left;
}

main .comment .comment_top .comment_left p {
  font-size: 0.14rem;
}

main .comment .comment_top .comment_left p i {
  font-size: 0.14rem;
  margin-right: 0.025rem;
}

main .comment .comment_top .comment_right {
  float: right;
}

main .comment .comment_top .comment_right p {
  color: #999999;
  font-size: 0.14rem;
}

main .comment .comment_top .comment_right p i {
  font-size: 0.25rem;
  color: #999999;
  margin: 0 0.05rem 0 0.15rem;
  vertical-align: middle;
}

main .buy_refer {
  width: 100%;
  padding: 0.1rem 0.05rem;
  background: #fff;
  margin-top: 0.1rem;
}

main .buy_refer .refer_left {
  float: left;
}

main .buy_refer .refer_left p {
  font-size: 0.14rem;
}

main .buy_refer .refer_left p i {
  font-size: 0.14rem;
  margin-right: 0.025rem;
}

main .buy_refer .refer_right {
  float: right;
}

main .buy_refer .refer_right a {
  font-size: 0.25rem;
  color: #999999;
}

main .shops {
  margin-top: 0.1rem;
  width: 100%;
}

main .shops .shop_top {
  background: #fff;
  padding: 0.05rem 0.05rem 0 0.05rem;
  border-bottom: 0.005rem solid #ccc;
}

main .shops .shop_top .shop_logo {
  float: left;
  width: 0.785rem;
}

main .shops .shop_top .shop_logo img {
  width: 0.685rem;
  border: 0.005rem solid #ccc;
}

main .shops .shop_top .birth {
  float: left;
}

main .shops .shop_top .birth .shop_name {
  font-size: 0.125rem;
}

main .shops .shop_top .birth .shop_country {
  font-size: 0.1rem;
  color: #999999;
}

main .shops .shop_top .check_goods {
  float: right;
}

main .shops .shop_top .check_goods a {
  font-size: 0.1rem;
  color: #999999;
}

main .shops .shop_top .check_goods a i {
  font-size: 0.15rem;
  color: #999999;
  vertical-align: middle;
  margin-left: 0.1rem;
}

main .shops .shop_top .check_goods a span {
  color: #FF001F;
}

main .shops .shop_top .shop_msg {
  margin-top: 0.07rem;
  display: none;
}

main .shops .shop_top .shop_msg p {
  font-size: 0.12rem;
}

main .shops .shop_top .down {
  display: block;
  font-size: 0.15rem;
  color: #999;
  margin: 0.1rem auto;
  text-align: center;
}

main .shops .shop_bottom {
  height: 1.215rem;
  position: relative;
  overflow: hidden;
  background: #fff;
}

main .shops .shop_bottom .swiper-wrapper .swiper-slide {
  max-width: 0.81rem;
}

main .shops .shop_bottom .swiper-wrapper .swiper-slide img {
  width: 0.81rem;
  height: 0.81rem;
}

main .shops .shop_bottom .swiper-wrapper .swiper-slide .rest_name {
  width: 0.71rem;
  font-size: 0.12rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main .shops .shop_bottom .swiper-wrapper .swiper-slide .rest_price {
  font-size: 0.12rem;
  color: red;
}

main .recrod {
  width: 100%;
  background: #fff;
  margin-top: 0.1rem;
}

main .recrod .recrod_top {
  border-bottom: 0.005rem solid #ccc;
  padding: 0.05rem 0.05rem;
}

main .recrod .recrod_top p {
  font-size: 0.12rem;
}

main .msg_list {
  width: 100%;
  background: #fff;
  margin-top: 0.1rem;
}

main .msg_list .list_links li {
  float: left;
  padding: 0.025rem 0.12rem;
}

main .msg_list .list_links li span {
  font-size: 0.12rem;
  color: #000;
}

main .msg_list .list_links li img {
  display: inline-block;
  width: 0.15rem;
  vertical-align: middle;
}

.image_text {
  width: 100%;
  background: #fff;
  margin-top: 0.2rem;
}

.image_text .text_top {
  padding: 0.05rem 0.2rem;
  border-bottom: 1px solid #ccc;
}

.image_text .text_top p {
  text-align: center;
  padding: 0 0.95rem;
  font-size: 0.15rem;
}

.image_text .text_bottom {
  margin-bottom: 0.1rem;
}

.image_text .text_bottom span {
  font-size: 0.15rem;
  display: inline-block;
  padding: 0.08rem 0.22rem;
}

.image_text .text_bottom span:hover {
  border-bottom: 0.02rem solid red;
  color: red;
}

.image_text .text_bottom span.active {
  border-bottom: 0.02rem solid red;
  color: red;
}

.image_text .content .goodShow {
  padding: 0.05rem 0.05rem;
  display: none;
}

.image_text .content .goodShow img {
  width: 3.1rem;
}

.image_text .content .parameter {
  padding: 0 0.05rem;
  width: 100%;
  display: none;
}

.image_text .content .parameter p {
  margin-bottom: 0.1rem;
  font-size: 0.15rem;
}

.image_text .content .parameter table {
  text-align: center;
  width: 100%;
}

.image_text .content .parameter table tbody .headline {
  background: #ccc;
}

.image_text .content .parameter table tbody tr {
  line-height: 0.3rem;
}

.image_text .content .accredit {
  width: 100%;
  display: none;
}

.image_text .content .accredit p {
  font-size: 0.1rem;
}

.image_text .content .accredit .file_logo {
  display: block;
  width: 3.1rem;
  padding: 0.5rem 0;
}

footer {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
}

footer .footer_list {
  background: #eee;
}

footer .footer_list .buy_list {
  display: flex;
}

footer .footer_list .buy_list li {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

footer .footer_list .buy_list li i {
  display: block;
  font-size: 0.2rem;
}

footer .footer_list .buy_list li p {
  font-size: 0.12rem;
  color: #000;
}

footer .footer_list .buy_list .cart {
  position: relative;
}

footer .footer_list .buy_list .cart span {
  display: block;
  position: absolute;
  right: 0.35rem;
  top: -0.05rem;
  width: 0.15rem;
  height: 0.15rem;
  border-radius: 50%;
  line-height: 0.15rem;
  background-color: red;
  color: #fff;
  font-size: 0.1rem;
  opacity: 0.7;
}

footer .footer_list .buy_list .my_buy {
  background: #F03E3E;
  line-height: 0.38rem;
}

footer .footer_list .buy_list .my_buy .btn_buy {
  font-size: 0.15rem;
  color: #fff;
}
