ul,li{list-style: none;}
.status{padding:0 10px;margin:30px;display:inline-block;line-height:50px;text-align:center;background: #35404d;color:white;}



.collection{background: #35404d;color:white;}
.controlInfo .showCollection li{display: inline-block;}
.controlInfo .showCollection li span{display: inline-block;width: 100px;height: 30px;text-align: center;}
.controlUl{position: absolute;left: 20em}
.controlUl li label{width: 100px;}
.btn{position: absolute;top: 12em}
.btn div{position: absolute;top:3em;}


.searchInfo>div{padding-left: 2em;margin-bottom: 2em;}
.searchInfo>div>span{display: inline-block;width: 100px;height: 30px;text-align: center;}
.searchInfo select{margin-left: 2em;margin-top: 2em;}
.searchInfo ul{margin-top: 2em;}
.searchInfo ul li label{width: 200px;}


.shopInfo span{margin:2em;padding: 1em;}
.shopInfo ul{margin-top: 2em}
.shopInfo ul li label{width: 200px;}


.logoInfo span{margin:2em;padding: 1em;}
.logoInfo ul{margin-top: 2em}
.logoInfo ul li label{width: 200px;}