@charset "UTF-8";
/*公共部分*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*重置样式表*/
/*==========样式重置===========*/
body, h1, h2, h3, h4, h5, h6, p, a, input, img, ul, li, ol, dl, dt, dd { padding: 0; margin: 0; }

ul, ol { list-style: none; }

img { display: block; border: 0; }

input { outline: none; }

header, footer, section, nav { display: block; }

html, body { font-size: 12px; font-family: "微软雅黑"; color: #3e3e3e; }

a { font-size: 16px; text-decoration: none; color: #0dc441; }

.content { width: 100%; height: 100%; }

.content .manage { width: 100%; height: 100%; }

.content .manage li { width: 100%; height: 0.78125rem; border-bottom: 1px solid #ccc; }

.content .manage li a { display: block; overflow: hidden; width: 100%; height: 0.78125rem; position: relative; }

.content .manage li a div { position: absolute; left: 5%; line-height: 50px; font-size: 18px; }

.content .manage li a span { position: absolute; right: 5%; line-height: 50px; font-size: 18px; }
